POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=homepage_phoenix_dev
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY_BASE_DEV=
SECRET_KEY_BASE_TEST=
DATABASE_URL=
SECRET_KEY_BASE=
PHX_HOST=example.com
PORT=4000
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=portfolio-admin
ADMIN_PASSWORD=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_BASE=
R2_ENDPOINT_HOST=
